.chapters {
    padding-block: var(--spacing-xl);
}

.cards {
    display: grid;
    gap: var(--spacing-lg);
    grid-template-columns:repeat(auto-fit,minmax(16rem,1fr));
    color: var(--text-color-card);
}

.card {
    display: grid;
    gap: var(--spacing-sm);
    background-color: var(--white);
    padding: var(--spacing-lg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    width: 100%;
    max-width: 22rem;
    justify-self: center;
}

.card img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-sm);
}

.star-button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1;
}

.favourite-active {
    color: var(--star-color);
}

.star-button:hover {
    transform: scale(1.1);
}


.btn-primary {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--white);
    padding: 
    var(--spacing-xs)
    var(--spacing-md);
    border-radius: var(--border-radius);
    transition: var(--transition);
    text-align: center;
}

.btn-primary:hover{
    background-color: var(--primary-color);
    color: var(--white);
}

.filter-group {
    display: grid;
    grid-template-columns: 8rem 20rem;
    align-items: center;
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
    margin-top: var(--spacing-md);
}

.filter-group label {
    max-width: 300px;
    font-size: 1rem;
    text-align: left;
}



