/* Set a max-width for the content */
.container-minecraft {
    width: 80%;
    margin: 40px auto;
}

/* Style the main content */
.container-minecraft p {
    margin-bottom: 10px;
}

/* Style the radio buttons and checkboxes */
.container-minecraft input[type="radio"],
.container-minecraft input[type="checkbox"] {
    margin-left: 15px;
    margin-right: 8px;
}

/* Style the form elements */
.container-minecraft ul {
    margin-bottom: 20px;
}

.container-minecraft li {
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
}
