/* Style the radio buttons and checkboxes */
.container-minecraft input[type="radio"],
.container-minecraft input[type="checkbox"] {
    margin-left: var(--spacing-md);
    margin-right: var(--spacing-sm);
}

/* Style the form elements */
.container-minecraft ul {
    margin-bottom: var(--spacing-md);
}

.container-minecraft li {
    display: inline-block;
    margin-bottom: var(--spacing-md);
    margin-right: var(--spacing-sm);
}
